.list-item {
  display: flex;
  background-color: transparent;
  border-radius: 5px;
  list-style-type: none;
  border: 1px solid #7683cb;
  width: 100%;
  padding-bottom: 4px;
  padding-top: 4px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
}

.initial-details-container {
  display: flex;
  align-items: center;
  /* border: 3px solid green; */
}

.initial {
  color: white;
  background-color: #f59e0b;
  border-radius: 60px;
  font-family: 'Roboto';
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
}

.username-password-url-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*  border: 2px solid red; */
}

.website-input-para {
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  margin-bottom: 11px;
}

.username-para {
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  font-size: 13px;
  margin: 0;
  margin-bottom: 11px;
}

.stars-img {
  width: 125px;
  height: 15px;
}

.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

.delete-icon {
  height: 22px;
  width: 24px;
}

@media screen and (min-width: 768px) {
  .list-item {
    width: 33%;
    margin-bottom: 15px;
  }
}
